// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$red: #a75757;


body {
  background: $red;
}

h1 {
  background: rgb(175, 175, 236);
  font-size: 50px;
  text-align: center;

}

form {
  text-align: center;
  font-size: 100px;
  input{
    size: 300px;
  }
}

